<h1>About us</h1>
<p>I am an accountant by trade, but have a strong interest in Australian rules football (AFL). I find that I spend far too searching multiple sites to get updates on the AFL and my team. I am hoping to draw a collection of data sources in one place.</p>
