<h1>AFL in one place</h1>
<p>Sick of trolling the internet for data on your team, well you are in the right spot. We have complied all the latest news about teh leauge and your team in one place.</p>
